html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between; /* met le logo à gauche et le contact à droite */
    align-items: center;            /* aligne verticalement les éléments */
    margin: 0px;
    padding: 5px;
    background-color:rgb(250, 72, 17);
    width: 100%;
    max-width: 100%;
}

.contact-navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex; /* Ajout de flexbox */
    justify-content: flex-end; /* Aligne le numéro de téléphone à droite */
    align-items: center; /* Aligne verticalement */
    width: 100%;
}

.contact-navbar a {
    display: flex;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    padding: 10px 20px; /* Ajuste l'espacement autour du texte */
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.item-nav {
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    padding: 10px 20px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.bi-envelope {
    font-style: normal;
}

.contact-navbar a:hover {
    color: #4d4343;
}

.logo {
    width: 180px;
    height: auto;
    border: 15px;
    border-radius: 5px;
    margin-left: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
    .logo {
        width: 150px;  /* logo plus petit sur petits écrans */
    }
}


/* Style de la barre de menu */
.barre-menu {
    background-color: #4e4e4e; /* Fond blanc */
    display: flex;
    justify-content: center; /* Centre le menu */
    padding: 5px 0;
    border-bottom: 2px solid #474343; /* Ligne de séparation subtile */
    border-top: 2px solid #474343
}

/* Style de la liste du menu */
.liste-menu {
    list-style: none;
    display: flex;
    gap: 40px; /* Espacement entre les éléments */
    padding: 0;
    margin: 0;
}

/* Style des éléments du menu */
.liste-menu li {
    position: relative;
    padding: 5px 10px; /* Réduit le padding des éléments du menu */
    list-style: none;
    transition: background-color 0.3s ease-in-out;
    flex: 1; /* Chaque élément prend un espace égal */
    text-align: center; /* Centre le texte */
    min-width: 100px;
    
}

/* Style des liens */
.liste-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* Hauteur uniforme */
    width: 100%;
    text-decoration: none;
    color: #000000; /* Couleur du texte */
    font-size: 18px;
    font-weight: bold;
    display: block; /* Permet de remplir tout l’espace du <li> */
    padding: 10px 20px; /* Ajuste l’espace autour du texte */
}
.liste-menu li:hover {
    opacity: 0.8;
}

/* Changement de couleur au survol */
.liste-menu a:hover {
    color: rgb(250, 72, 17); /* Couleur au survol */
}

/* Accueil Barre soulignée animée */
.menu-souligne-accueil {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(250, 72, 17);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Animation au survol */
.liste-menu li:hover .menu-souligne-accueil {
    width: 100%;
    left: 0;
}

.accueil {
 
    padding: 10px 15px;
    border-radius: 5px; /* Coins arrondis pour un meilleur rendu */
}

.menu-souligne-a-propos {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(250, 72, 17);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Animation au survol */
.liste-menu li:hover .menu-souligne-a-propos {
    width: 100%;
    left: 0;
}

.a-propos {
    
    padding: 10px 15px;
    border-radius: 5px;
}

.menu-souligne-nos-services {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(250, 72, 17);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Animation au survol */
.liste-menu li:hover .menu-souligne-nos-services {
    width: 100%;
    left: 0;
}

.nos-services {
 
    padding: 10px 15px;
    border-radius: 5px;
}

.menu-souligne-nous-contacter {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(250, 72, 17);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Animation au survol */
.liste-menu li:hover .menu-souligne-nous-contacter {
    width: 100%;
    left: 0;
}

.nous-contacter {

    padding: 10px 15px;
    border-radius: 5px;
}

.menu-souligne-a-savoir {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(250, 72, 17);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Animation au survol */
.liste-menu li:hover .menu-souligne-a-savoir {
    width: 100%;
    left: 0;
}

.a-savoir {

    padding: 10px 15px;
    border-radius: 5px;
}

.bandeau-couleur {
    width: 100%;
    height: 250px;
    background-color: rgb(250, 72, 17);
    opacity: 0.9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.container-texte {
    position: absolute;
    top: 68%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour un centrage parfait */
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour améliorer la lisibilité */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%; /* Ajuste la largeur du conteneur */
    max-width: 600px;
}

.container-texte h1 {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-texte p {
    color: rgb(250, 72, 17);
    font-size: 20px;
}

/*MAIN*/
.container-main {
    display: block;
    width: 70%;
    height: 90%;
    margin: 0 auto;
    justify-content: space-around;

}
.container-main h2 {
    text-align: center;
    font-size: 2em;
    color: rgb(250, 72, 17);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-main h3 {
    text-align: center;
    font-size: 1.5em;
    color: rgb(250, 72, 17);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-main p, ul {

    justify-content: center;
    margin: 15px;
    padding: 15px;
    align-items: center;
    text-align: justify;
}

/*FOOTER*/

.container-footer {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    background-color: rgb(250, 72, 17);
    color: #000000;
    padding: 5px;
    margin: 5px;
    align-items: center;
    border: 2px solid rgb(250, 72, 17);
}

.logo-footer{
    max-width: 110px; 
    max-height: 110px; 
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.texte1-footer {
    display: flex;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 13px;
    font-weight: 500;

}

.texte2-footer {
    display: flex;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 13px;
    font-weight: 500;

}

.texte3-footer {
    display: flex;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.logo-smalltext-footer {
    display: flex;
    flex-direction: column-reverse;

}

.small-text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -55px;
    margin-top: 15px;
    font-size: 12px;
}